extends layout

block content
  .slides
    .slide.center-both.main(data-pos = 0)
      .first-row.center-both.flex-direction-row
        img(src="/images/pic_logo.svg")
        img(src="/images/logo.svg")
      h1.second-row.font-size-40.bold.letter-spacing
        | [Seguridad e identidad]
      
    .slide.center-both(data-pos = 1)
      h1.font-size-40.bold.letter-spacing
        | HOLA
