@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  background: #738091;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Quicksand', sans-serif;
  transition: 0.3s ease-in;
}

.slides {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.avatar {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/avatar.jpg);
}

.bold {
  font-weight: bold;
}

.space {
  letter-spacing: 8px !important;
}

.flex-direction-row {
  flex-direction: row;
}

.hidden {
  display: none;
}

.slide {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.font-size-30 {
  font-size: 30px;
}

.auth0 {
  padding: 30px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.white-background{
  background: white;
}

.underscore {
  text-decoration: underline;
}

.full-size {
  height: 100vh;
  width: 100vw;
}

.main img {
  display: block;
  margin: 15px;
}

.font-size-40 {
  font-size: 40px;
}
